<!DOCTYPE html>
<html lang="en">

<%- include ("./partials/head") %>

<body>

    <%- include ("./partials/navbar") %>

    <%- include ("./partials/jumbotron") %>

    <%- include ("./partials/content") %>

    <%- include ("./partials/footer") %>

    <%- include ("./partials/scripts") %>

</body>

</html>